#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  text-align: center;
}

input[type=button] {
  color: var(--light-assistant-primary);
  border: 1px solid var(--light-assistant-border);
  background-color: var(--light-assistant-background);
  padding: 0.25em 0.75em;
  border-radius: 0.25em;
  font-size: 100%;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: var(--light-assistant-background-hover);
}

input[type=button].Cancel {
  background-color: var(--light-assistant-button-cancel);
  margin-right: 0.5em;
}

input[type=button].Cancel:hover {
  background-color: var(--light-assistant-button-cancel-hover);
}

input[type=button].Ok {
  background-color: var(--light-assistant-button-ok);
  margin-left: 0.5em;
}

input[type=button].Ok:hover {
  background-color: var(--light-assistant-button-ok-hover);
}

input[type=button]:active {
  border-radius: 0.5em;
  border-style: dashed;
}

input[type=button]:disabled  {
  border-radius: 0.25em; /* same as non-active button */
  color: var(--light-assistant-button-disabled);
  border: 1px solid var(--light-assistant-button-disabled-border);
  background-color: var(--light-assistant-button-disabled-background);
  cursor: auto;
}

.react-tabs__tab:focus:after {
  content: unset;
}

.react-tabs__tab-list {
  border-bottom: 1px solid var(--light-assistant-border);
}


.react-tabs__tab--selected {
  background: var(--light-assistant-highlight-1);
  border-color: var(--light-assistant-border);
  color: var(--light-assistant-primary);
}

.react-tabs__tab--disabled {
  color: var(--light-assistant-button-disabled);
}
