.Device {
    background-color: #343434;
}

.Device:nth-child(2n) {
    background-color: #444444;
}

.Device:hover {
    background-color: #446044;
}

.Device > div {
    display: inline-block;
    margin: 0.5em;
    vertical-align: top;
}

.Device .Name {
    font-weight: bold;
}

.Device .Address {
    font-size: 80%;
}

.Device .Description {
    min-width: 5rem;
    max-width: 15rem;
}

.Device .Battery::before {
    content: "Battery: ";
}

.Device .LinkQuality::before {
    content: "LinkQuality: ";
}

.Device .Brightness::before {
    content: "Brightness: ";
}

.Device .State::before {
    content: "State: ";
}
