.Heading,
.Device {
    display: table-row;
    background-color: var(--light-assistant-highligh-tr1);
}

.Device:nth-child(2n) {
    background-color: var(--light-assistant-highligh-tr2);
}

.Device:hover {
    background-color: var(--light-assistant-highligh-2);
}

.Heading > div,
.Device > div {
    display: table-cell;
    padding: 0.5em;
    vertical-align: top;
}

.Device .Name {
    font-weight: bold;
}

.Device .Address {
    font-size: 80%;
}

.Device .Status {
    width: 8em;
}

.Device .Battery::before {
    content: "Battery: ";
}

.Device .LinkQuality::before {
    content: "Link quality: ";
}

.Device .Brightness::before {
    content: "Brightness: ";
}

.Device .State::before {
    content: "State: ";
}
