:root {
  --light-assistant-primary: rgba(255, 255, 255, 0.87);
  --light-assistant-background: #242424;
  --light-assistant-background-hover: #4f411c;
  --light-assistant-border: #685725;
  --light-assistant-highlight-1: #444480;
  --light-assistant-highlight-2: #446044;
  --light-assistant-highlight-tr1: #343434;
  --light-assistant-highlight-tr2: hsl(0, 0%, 27%);
  --light-assistant-button-ok: #329732;
  --light-assistant-button-ok-hover: #318631;
  --light-assistant-button-cancel: #842222;
  --light-assistant-button-cancel-hover: #742121;
  --light-assistant-button-disabled: rgba(255, 255, 255, 0.47);
  --light-assistant-button-disabled-border: #767676;
  --light-assistant-button-disabled-background: var(--light-assistant-background);
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--light-assistant-primary);
  background-color: var(--light-assistant-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.FlexHori {
  display: flex;
  flex-direction: row;
}

.Spacer {
  flex-grow: 1;
}

.Grid {
  display: grid;
}
