.Popup_DeviceConfiguration .Title {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    width: 25em;
    margin: auto;
}

.Popup_DeviceConfiguration .SubTitle {
    font-size: 100%;
    padding-bottom: 0.5em;
    text-align: center;
    width: 20em;
    margin: auto;
}

.Popup_DeviceConfiguration .Content {
    padding: 0.5em;
}

.Popup_DeviceConfiguration .Label {
    margin-right: 0.25em;
}

.Popup_DeviceConfiguration .FriendlyName {
    border: none;
    border-bottom: 1px solid var(--light-assistant-primary);
    outline: none;
    padding: 0.25em;
    color: var(--light-assistant-primary);
    background: none;
    font-size: 100%;
}

.Popup_DeviceConfiguration .Routing {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.Popup_DeviceConfiguration .Routing .Route {
    margin-bottom: 0.25em;
    margin-left: 0.5em;
}

.Popup_DeviceConfiguration .Routing .Route svg {
    vertical-align: middle;
}

.Popup_DeviceConfiguration .Routing .Route select {
    background-color: var(--light-assistant-highlight-tr2);
    color: var(--light-assistant-primary);
    border: 1px solid var(--light-assistant-primary);
    padding: 0.25em 0.75em;
    border-radius: 0.25em;
    font-size: 100%;
    width: 8.5em;
}

.Popup_DeviceConfiguration .Buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}

.Popup_DeviceConfiguration .Cancel {
    background-color: var(--light-assistant-button-cancel);
    margin-right: 0.5em;
}

.Popup_DeviceConfiguration .Ok {
    background-color: var(--light-assistant-button-ok);
    margin-left: 0.5em;
}
