.CircularClock {
  position: relative;
  width: 15em;
  height: 15em;
  border: 1px dashed var(--light-assistant-highlight-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Hand {
  position: absolute;
  height: 3px;
  transform-origin: 100% 50%;
  transition: transform 0.35s ease;
  top: 50%;
}

.Hand.Inner {
  width: 4em;
}

.Hand.Outer {
  width: 6em;
}

.HandBar {
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--light-assistant-highlight-2);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.HandDot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--light-assistant-highlight-1);
  top: 0;
  left: 0;
  transform: translate(-3px, -3px);
}

div.ClockDigit {
  width: 1.5em;
  height: 1.5em;
  padding: 0.125em;
  cursor: pointer;
}

div.ClockDigit.HoursPm {
  font-size: 95%;
}

div.ClockDigit.selected {
  background: var(--light-assistant-highlight-2);
  border-radius: 50%;
}

span.CenterTime {
  font-size: 75%;
  background-color: var(--light-assistant-background);
  z-index: 10;
  display: inline-block;
  border: 1px dashed var(--light-assistant-highlight-1);
  border-radius: 50%;
  vertical-align: middle;
  height: 8em;
  width: 8em;
  line-height: 7.5em;
}
