.DaySelector {
  display: block;
  padding: 0.125em;
}

.DaySelector .Day {
  display: inline-block;
  margin: 2px;
  padding: 6px 5px 5px 6px;
  border: 1px solid var(--light-assistant-border);
  cursor: pointer;
  width: 1em;
  text-align: center;
  border-radius: 1em;
  line-height: 1em;
  user-select: none;
}

.DaySelector .ToggleAll {
  display: inline-block;
  padding: 2px 20px 2px 20px;
  margin: 2px;
  border: 1px solid var(--light-assistant-border);
  cursor: pointer;
  text-align: center;
  border-radius: 0.5em;
  user-select: none;
}

.DaySelector div.Day.selected {
  background: var(--light-assistant-highlight-1);
}

.DaySelector div.Day:hover,
.DaySelector div.ToggleAll:hover {
  background: var(--light-assistant-background-hover);
}
