.Heading,
.Device {
    display: table-row;
    background-color: var(--light-assistant-highlight-tr1);
}

.Device:nth-child(2n) {
    background-color: var(--light-assistant-highlight-tr2);
}

.Device:hover {
    background-color: var(--light-assistant-highlight-2);
}

.Heading > div,
.Device > div {
    display: table-cell;
    padding: 0.5em;
    vertical-align: top;
}

.Device .Name {
    font-weight: bold;
}

.Device .Address {
    font-size: 80%;
}

.Device .Status {
    width: 8em;
}

.Device .Battery::before {
    content: "\2022 \00A0 Battery: ";
}

.Device .LinkQuality::before {
    content: "\2022 \00A0 Link quality: ";
}

.Device .Brightness::before {
    content: "\2022 \00A0 Brightness: ";
}

.Device .State::before {
    content: "\2022 \00A0 State: ";
}

.Device .Route {
    display: block;
    white-space: nowrap;
}

.Device .Route::before {
    content: "\2022 \00A0";
}