.ScheduleOptions {
    max-height: 50vh;
    overflow-y: scroll;
}

div.ScheduleOptions div.ScheduleEntry {
    padding: 0.5em;
    background-color: var(--light-assistant-highlight-tr1);
}

div.ScheduleOptions div.ScheduleEntry:nth-child(2n) {
    background-color: var(--light-assistant-highlight-tr2);
}

div.ScheduleOptions div.ScheduleEntry > div,
div.ScheduleOptions div.ScheduleEntry > span {
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
}

div.ScheduleOptions div.ScheduleEntry > span:last-child {
    margin-right: 0;
}

div.ScheduleOptions div.ScheduleEntry span.Time {
    font-size: 150%;
}

div.ScheduleOptions div.ScheduleEntry .ActionOptions {
    padding-left: 1rem;
}

div.ScheduleOptions div.ScheduleEntry label.Param::before {
    content: '•';
    margin-right: 0.25rem;
}

div.ScheduleOptions div.ScheduleEntry .Param select {
    width: auto;
}

div.ScheduleOptions .ActionOptions {
    display: grid;
    grid-template-columns: 2 2;
}
  
div.ScheduleOptions .ActionOptions label {
    grid-column: 1;
    display: flex;
    align-items: center;
}
  
div.ScheduleOptions span.Param {
    grid-column: 2;
}

div.ScheduleOptions label.Param {
    margin-right: 0.5em;
}
