span.Time {
  font-size: 250%;
  white-space: nowrap;
}
span.Time > span {
  margin: 0.125em;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

span.Time span.selected {
  color: var(--light-assistant-highlight-2);
}

span.Time.clickable {
  cursor: pointer;
  user-select: none;
}
