.DeviceList {
    display: table;
}

.DeviceList .Heading {
    font-weight: bold;
    background-color: var(--light-assistant-highlight-1);
}

.popup-content {
    background-color: var(--light-assistant-background);
    padding: 0.5rem;
    border: 0.125rem solid var(--light-assistant-primary);
    border-radius: 2.5%;
}

@media (max-width: 750px) {
    .DeviceList .Schedule
    {
        display: none;
    }
}

@media (max-width: 1000px) {
    .DeviceList .Routing
    {
        display: none;
    }
}
