.DeviceConfiguration .Title {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.DeviceConfiguration .SubTitle {
    font-size: 100%;
    text-align: center;
    margin: auto;
}

.DeviceConfiguration .FriendlyName {
    max-width: 12rem;
}

.DeviceConfiguration .Buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}

.DeviceConfiguration .react-tabs {
    margin: 1rem 0;
}

.DeviceConfiguration .Grid label {
    grid-column: 1;
}

.DeviceConfiguration .Grid span {
    grid-column: 2;
}
